<table class="table table-hover table-striped" style="table-layout:fixed">
    <thead style="background-color:black;color:white;">
        <tr>
            <th width="15%"></th>
            <th width="15%">First Name</th>
            <th width="10%">Last Name</th>
            <th width="25%">Address</th>
            <th width="5%">Age</th>
            <th width="25%">Interests</th>
            <th width="5%"></th>
        </tr>
    </thead>
    <tbody id="people_power"></tbody>
</table>
